.not-found{
    height: 350px;
    width: 550px;
    background-color: aqua;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
    margin-left: 320px;
    margin-top: 30px;
    text-align: center;

}
.not-found h1{
    margin-top: 80px;
    line-height: 60px;
}